//theme colors
$primary-color: white;
$secondary-color: #2F4858;
$accent-color-1: #2B9088;
$accent-color-2: #4B4A54;
$accent-color-3: #677381;
$accent-color-4: #424e5b;
$accent-color-5: #f4f2ecb6;
$accent-color-6: #51A363;
$accent-color-7: #005B47;
$accent-color-8: #f1f5f97a;
$accent-color-9: #ccc;
$accent-color-10: #005b4772;
$accent-color-11: #bdb9ac7a;
$accent-color-12: #49728b;
$accent-color-13: #2f3358;
$accent-color-14: #b8d2bc58;
$accent-color-15: #293349c0;
$accent-color-16: #e1d7cb40;

$primary-bgc-light: white;
$secondary-bgc-light: white;
$header-bgc-light: white;
$welcome-light: white;

$accent-1-light: black;
$accent-2-light: black;

$primary-dark: #52584e;
$secondary-dark: #a8cbfc;
$accent-dark: #002e48;