@use '../abstracts' as *;

header{
    position: sticky;
    top: 0;
    height: $header-height;
    background-color: $header-bgc-light;
    box-shadow: 0px 0px 6px #999;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: end;
    padding: 15px $side-padding;
    @include for-size(laptop) {
        font-size: 0.8em;
        padding: 15px $small-side-padding;
    }
    @include for-size(phone-only) {
        font-size: 0.3em;
        padding: 15px $small-side-padding;
    }
}

.avatar-name{
    margin-left: -3px;
}

.avatar-name img{
    transform: scaleX(-1);
    background-color: white;
    position: relative;
    bottom: -5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: -2px;
    @include for-size(phone) {
        display: none;
    }
}

.avatar-name span{
    font-family: $title-font;
    font-size: 2.2em;
    color: $secondary-color;
    position: relative;
    top: 2px;
    @include for-size(phone) {
        font-size: 2em;
    }
}

header nav{
    margin-left: auto;
    display: flex;
    align-items: end;
    gap: 30px;
    @include for-size(tablet){
        flex-direction: row-reverse;
    }
    .icon{
        display: none;
        margin-bottom: -4px;
        margin-left: auto;
        font-size: 2em;
        font-weight: bold;
        @include for-size(tablet){
            display: block;
        }
    }

    .social{
        display: flex;
        flex-direction: row;
        gap: 12px;
        color: $secondary-color;
        border: 1px solid #aaa;
        padding: 2px 5px;
        border-radius: 15px;
        position: relative;
        @include for-size(laptop) {
            padding-top: 5px;
            margin-left: auto;
        }

        @include for-size(phone) {
            padding-top: 3px;
        }
        @include for-size(small-phone) {
            display: none;
        }
    }

    ul{
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        list-style-type: none;
        @include for-size(tablet){
            display: none;
        }
    }

    .navbar{
        position: fixed;
        top: $header-height;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: start;
        padding-top: 3em;
        gap: 2em;
        font-size: 3em;
    }
}

header nav ul li a{
    text-decoration: none;
    color: $accent-color-3;
    font-weight: 500;
}

header nav ul li a:hover{
    color: $accent-color-2;
}

.social a{
    cursor: pointer;
}

.flex{
    display: flex;
}

/*
    hint on logos and everything
    change "about" to something else - maybe - "A short brief about..",,
    same padding in left and right throughout of all page
    make the header links color more highlighted and maybe change fond - not loog good compare to other sites
    - make animation on submit button - when send it shoe envelope fly to right
    - check if (header nav, nav2 --> both inside header or need header nav, header nav) also, in sass check if I'm in current file so not need nesting.
    - insert links
    - make responsive
    make it look like when i set 80% zoom
*/