* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin desktop {
    @media (max-width:1350px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin small-tablet {
    @media (max-width:1000px) {
        @content;
    }
}

@mixin phone {
    @media (max-width:568px) {
        @content;
    }
}